<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
  
  <link rel="stylesheet" href="dist/css/T2Mongo.css">
</head>
<body class="noselect" style="overflow:hidden;">
  <header id="topnav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  </header>

  <div id="page-container" style="overflow-x: hidden;overflow-y: auto;">
    <nav id="page-leftbar">
    </nav>
    <div id="page-content">
    </div>
  </div>

  <div id="modal">

  </div>

  <script type="text/javascript" src="dist/js/T2Mongo.js"></script>
</body>
</html>